.about-name01 h3,.about-name02 h3,.about-name03 h3{
  position: absolute;
    font-size: 9vw;
    margin-top:20px;
    opacity: 1;
    margin-top:0;
    -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}
.about-name01 h3{
    top: 25%;
    left: 30%;
}
.about-name02 h3{
    top: 40%;
    right: 26%;
}
.about-name03 h3{
    top: 55%;
    left: 15%;
}

.about-name-outline h3{
  min-height: 150px;
  line-height: 100%;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 7;

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.about-name-base h3{
  min-height: 150px;
  line-height: 100%;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(/img/noise.gif);
  -webkit-text-stroke: none;
  z-index: 4;

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    _::-webkit-full-page-media, _:future, :root .about-name-base h3 {
        background-image: none;
    }
}

.about-momo{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width:auto;
  height:auto;
  z-index: 5;


  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.about-momo img{
  width:100%;
  max-width: 310px;
  height:auto;

}


.fuwafuwa{
  animation: fuwafuwa 3s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;
}

@keyframes fuwafuwa {
  0% { transform: translateY(20px) }
  50% { transform: translateY(0px) }
  100% { transform: translateY(20px) }
}

.about-textarea{
  position: relative;
  top: 81%;
  margin-left: 50%;
  color: white;
  width: 30%;
  padding-bottom: 10vh;
  z-index: 100;
}

.about-textarea h3{
  font-size: 1.3vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.contact{
  font-size: .8vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: grey;
  margin-top:75px;
}

.about-text01{
  font-size: 1.2vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 40px;

  letter-spacing: 1px;
  line-height: 200%;
}

.about-text02{
  font-size: 1.1vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: normal;
  font-style: normal;

  letter-spacing: 1px;
  line-height: 200%;
}


.mail{
  font-size: 1.3vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 15px;

  letter-spacing: 1px;
  line-height: 200%;
}

.mail a{
  text-decoration: none;
  color: white;
}


.sns{
  font-size: 1.1vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 15px;

  letter-spacing: 1px;
  line-height: 200%;
}

.sns a{
  text-decoration: none;
  color: white;
}
