.top-intro {
  margin-bottom: 10vh;
  .button {
    margin-top: 5vh;
  }
}
#myVideo {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.floatx{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:transparent;
	color:#000;
	border-radius:50px;
	text-align:center;
}
