---
layout: default
id: home
title: Portfolio
---

<section id="about">
  <div class="about-name01">
    <div class="about-name-outline"><h3>Vai</h3></div>
    <div class="about-name-base"><h3>Vai</h3></div>
  </div>
  <div class="about-name02">
    <div class="about-name-outline"><h3>shali</h3></div>
    <div class="about-name-base"><h3>shali</h3></div>
  </div>
  <div class="about-name03">
    <div class="about-name-outline"><h3>Rajurkar</h3></div>
    <div class="about-name-base"><h3>Rajurkar</h3></div>
  </div>

  <div class="about-momo">
    <img class="fuwafuwa" src="assets/img/momo.png">
  </div>

  <div class="about-textarea">
    <h3>V.R.</h3>
    <p class="about-text01">Constantly fueled with curiosity and boundless enthusiasm,
       I am a multidisciplinary product designer who enjoys crafting delightful, useful and equally meaningful product experiences</p>
    <p class="about-text02">n a parallel universe, I am busy doodling the world around me or documenting my daily life through dataviz or exploring music.</p>
    <div class="contact">CONTACT</div>
    <div class="mail"><a class="link" href="mailto:post.vaishalirajurkar@gmail.com">post.vaishalirajurkar@gmail.com</a></div>
    <div class="sns"><a class="link" href="https://dribble.com/" target="_blank">Dribble</a>&emsp;
    <a class="link" href="https://www.instagram.com/" target="_blank">Instagram</a></div>
  </div>

</section>

<div class="container">
  <div class="top-intro">
    <img src='/img/landing.gif'>
  </div>

  <div class="work" style="position: relative">
    <h2 class="side-title ts-strong">Selected Projects</h2>
    <div class="work-list grid grid-d2-m1">
      {% for work in site.work reversed %}
        <div class="work-list-item grid-item {{ work.class }}">
          <a class="work-list-item-link" href="{{ work.url | relative_url }}"></a>
          <div class="work-list-item-media">
            <div class="work-list-item-background" style="background-image: url({{ work.gradient | relative_url }});"></div>
            <div class="work-list-item-media-inner">
              <img class="work-list-item-thumbnail lazyload" src="{{ work.cover | relative_url }}" style="mix-blend-mode: overlay; max-width:fit-content;"/>
            </div>
          </div>
          <div class="work-list-item-text">
            <h3 class="work-list-item-title fs-reset">{{ work.title }}</h3>
            <small class="work-list-item-type">{{ work.description }}</small>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% include footer.html %}
</div>
