<!-- <header class="site-header" data-transition="slideup">
  <div class="container container-flex align-top">
      <div class="side-title ts-strong" style="position:relative;">
        <a href="{{ '/' | relative_url }}">
          <img src='/img/work/aq/logo.svg'>
        </a>
      </div>
    </div>
</header> -->
<header class="site-header" data-transition="slideup">
  <div class="container container-flex align-top">
    <div class="side-title ts-strong" style="position:relative;">
      <a href="{{ '/' | relative_url }}">
        <img src='https://raw.githubusercontent.com/vaishalirajurkar/vaishalirajurkar.github.io/main/img/work/aq/logo.svg'>
      </a>
    </div>
  </div>
</header>
