<header class="site-header" data-transition="slideup">
  <div class="container container-flex align-top">
    <div class="side-title ts-strong" style="position:relative;">
      <a href="{{ '/' | relative_url }}">
        <img style="-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);" src='https://raw.githubusercontent.com/vaishalirajurkar/vaidesign.github.io/main/img/logo.svg'>
      </a>
    </div>
  </div>
</header>
